.test-address {
  position: fixed;
  z-index: 2;
  height: 300px;
  background: white;
}

@media (min-width: 1020px) {
  .test-address {
    width: 500px;
  }
}

@media (max-width: 1020px) and (min-width: 360px) {
  .test-address {
    width: 50%;
  }
}

@media (max-width: 360px) and (min-width: 251px) {
  .test-address {
    width: 45%;
  }
}
