#global-header {
  background-color: #2372b5;
}

#global-header .header-wrapper {
  background-color: #2372b5;
}



#proposition-link span {
  color: #2372b5;
}

.test-address {
  width: 29%;
  margin-top: 1em;
  float: left;
  border: 1px solid black;
  padding-left: .2em;
}

.stats {
  height: 30px;
  overflow-y: auto;
}

.user-stats {
  position: fixed;
  right: 10px;
  top: 20px;
  margin: 3px;
  border: 1px solid black;
  padding: 0 1em 1em 1em;
  background: white;
}

.user-stats-inner {
  height: 7em;
  overflow-y: auto;
}

.address-stats {
  float: right;
  width: 50%;
}

strong {
  color: red;
  font-weight: bold;
}

.score {
  background-color: white;
  padding: .2em;
  border: 8px solid brown;
  border-radius: 14px;
  position: fixed;
  top: 10%;
  left: 40%;
  font-size: 150%;
  font-weight: bold;
  max-width: 300px;
  text-align: center;
}

.help-pill {
  display: inline-block;
  background-color: black;
  color: white;
  font-size: 16px;
  width: 22px;
  border-radius: 15px;
  cursor: help;
  margin-left: 1.4em;
}

.helpBox {
  background-color: white;
  padding: .2em;
  border: 8px solid brown;
  position: fixed;
  padding: 0 1em 1em 1em;
  top: 10%;
  left: 10%;
  width: 80%;
}
