{% load static %}


<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <title>Match-o-tron</title>

    <link href="{% static "match/govuk_template/assets/stylesheets/govuk-template.css" %}" media="screen" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="{% static "match/govuk_template/assets/images/opengraph-image.png" %}">

    <link href='{% static "match/elements-page.css" %}' media="screen" rel="stylesheet" />
    <link href='{% static "match/app.css" %}' media="screen" rel="stylesheet" />


  </head>

  <body class="">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink"></a>
      </div>
    </div>

    <header role="banner" id="global-header" class="with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
          </div>

        </div>
        <div class='header-proposition'>
          <div class='content'>
            <nav id="proposition-menu">
              <a href='/' id='proposition-name'>Match-o-tron</a>
              <p id="proposition-link">
                <a href="/">Play</a>
                <span> ---- </span>
                <a href="{% url 'scores' %}#users">Scores</a>
                <span> ---- </span>
                <a href="{% url 'scores' %}#addresses">Stats</a>
                <span> ---- </span>
                <a href="{% url 'help' %}">Help</a>
              </p>
            </nav>
          </div>
        </div>
      </div>
    </header>


<main id="content">

  {% block content %}
  {% endblock %}

</main>




    <div id="global-app-error" class="app-error hidden"></div>

    <script src="{% static "match/govuk_template/assets/javascripts/govuk-template.js" %}"></script>


    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  </body>
</html>
