{% extends "base.html" %}


{% block content %}

<h1 class="heading-large">Help</h1>

<h2 class="heading-small">Instructions</h2>

<p>
  Your goal is to find the definitive address of job centres across the UK.
</p>
<p>
  When you start the game, you’ll see the name and address of a job
  centre on the left-hand side. On the right, you’ll see 9 different
  addresses from AddressBase.
</p>
<p>
  Click on one of the 9 addresses you think matches the address of the
  job centre.
</p>
<p>
  If none match, click ‘No match’ and if you’re unsure, click ‘Not
  sure’ to move onto the next job centre.
</p>
<p>
  You only need to match the addresses - the name of the job centre is
  not important. The more matches you make and the more accurate they
  are, the more you score.
</p>


<h2 class="heading-small">Background</h2>

<p>
  The address on the left hand-side is from a list of UK job
  centres. The 9 addresses on the right are drawn from AddressBase data
  containing a Unique Property Reference Number (UPRN). We want to find
  the UPRN of each job centre, by matching the job centre’s text address
  on the left to the correct UPRN-associated address on the right.
</p>

<p>
  Matching addresses is hard. Automated matching only takes us so far,
  and typically misses the most complex addresses. This tool takes the
  crowd-sourcing approach: participants are asked to match addresses
  manually from a list of possible candidates.
</p>

<p>
  Your score will reflect the number of matches you’ve made, as well
  as how well your guesses match other people’s. Enough matches will
  allow us to establish with a good degree of certainty the correct
  answer.
</p>


{% endblock %}
