{% extends "base.html" %}


{% block content %}

<h1 class="heading-large">Help</h1>

<h2 class="heading-small">Instructions</h2>

<p>
  The left hand-side of the screen shows the addreses of a job centre,
  while the right hand-side shows possible candidates. If one of the
  candidates matches, just click it. If none match, or you're not
  sure, click "Pass".
</p>

<p>
  Only match the addresses, the name of the job
  centre is not important. The more matches you make
  and the more correct they are, the more you score.
</p>


<h2 class="heading-small">Background</h2>

<p>
  The goal is to find the canonical address (UPRN) of each job centre.
</p>

<p>
  The address shown on the left hand-side is from a list of job centres.
  We want to find the UPRN of each. UPRN information is found in AddressBase,
  so we need to match the job centre address with an AddressBase address, in
  order to get the job centre's UPRN.
</p>

<p>
  Matching addresses is hard. Automatic matching takes us so far.
  This tool is taking the crowd-sourcing approach:
  participants are asked to do the matching manually from a list of possible
  candidates.
</p>

<p>
  Your score will reflect the number of matches you've made, as well as how well
  your guesses match other people's. Enough matches will allow us to establish
  with a good degree of certainty the correct answer.
</p>


{% endblock %}
