{% extends "base.html" %}


{% block content %}

<h1 class="heading-xlarge">Stats</h1>



<h2 class="heading-large">Users</h2>

<table>
    <thead>
        <tr><th>Name</th><th>Matches</th><th>
    </thead>
    <tbody>
        {% for user in users %}
            <tr><td>{{ user.name }}</td><td>{{ user.score }}</td></tr>
        {% endfor %}
    </tbody>
</table>

<h2 class="heading-large">Test addresses</h2>

<ul>
    <li>{{ nb_addresses }} addresses</li>
    <li>{{ nb_matches }} user matches</li>
    <li>{{ nb_pass }} matches failed</li>
</ul>


{% endblock %}
