{% extends "base.html" %}

{% block content %}

  <h1 class="heading-large">Test addresses</h1>

  <p>Addresses with more than 1 match, sorted by confidence</p>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Times matched</th>
        <th>Distinct matches</th>
        <th>No matches</th>
        <th>Not sure</th>
        <th>Confidence score</th>
      </tr>
    </thead>
    <tbody>
      {% for address in addresses %}
      <tr>
        <td><a href="{% url 'test' address.id %}">{{ address.name }}</a></td>
        <td>{{ address.nb_matches }}</td>
        <td>{{ address.nb_uprns }}</td>
        <td>{{ address.no_match }}</td>
        <td>{{ address.notsure }}</td>
        <td>{{ address.confidence|floatformat:"0" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
