{% extends "base.html" %}
{% load jsonify %}

{% block content %}

  <h1 class="heading-large">{{ test.name }}  ({{ test.test_id }})</h1>

  <p>
    <address>{{ test.address }}</address>
  </p>

  <h2 class="heading-medium">Matches by UPRN</h2>

  <ul>
    {% for group in matches %}
      <li>
        <h3 class="heading-small">{{ group.address }}</h3>
        <ul class="uprn-group">
          {% for match in group.matches %}
            <li>
              {{ match.user.name }}{% if not forloop.last %}, {% endif %}
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>

{% endblock %}
